/* App.css */
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black; 
}

nav {
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour le menu */
  padding: 15px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrer le menu */
  padding: 0;
}

li {
  margin-right: 20px;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Effet hover pour embellir les liens */
  border-radius: 5px;
}
